resource "aws_acm_certificate" "platform" {
  domain_name       = "*.{{ environment }}.platform.example.com"
  validation_method = "DNS"

  tags = {
    Environment = "{{ environment }}"
    ManagedBy   = "platform-engineering-reference-architecture"
  }
}