apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig

metadata:
  name: {{ service_name }}-alertmanager-config
  namespace: {{ environment }}-{{ owner }}

  labels:
    app: {{ service_name }}
    owner: {{ owner }}
    environment: {{ environment }}
    managed-by: platform-engineering-reference-architecture

spec:
  route:
    groupBy:
      - alertname
      - service
      - severity
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h
    receiver: {{ service_name }}-default-receiver

  receivers:
    - name: {{ service_name }}-default-receiver
      webhookConfigs:
        - url:
            key: webhook-url
            name: {{ service_name }}-alert-webhook
          sendResolved: true