apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ service_name }}-config
  namespace: {{ environment }}-{{ owner }}
data:
  APP_ENV: "{{ environment }}"
  SERVICE_NAME: "{{ service_name }}"
  AI_ENABLED: "{{ needs_ai }}"