apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ service_name }}-data
  namespace: {{ target_namespace }}
  labels:
    app.kubernetes.io/name: {{ service_name }}
    app.kubernetes.io/part-of: {{ owner }}
    app.kubernetes.io/managed-by: platform-generator
    platform.storage/type: {{ storage_type }}
spec:
  accessModes:
    - {{ storage_access_mode }}
  storageClassName: {{ storage_class }}
  resources:
    requests:
      storage: {{ storage_size }}